* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1440px;
  margin: auto;
}
.container-2 {
  margin: 0 240px;
}
.container-2 h1 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  color: #4e5150;
  transform: rotate(-0.02deg);
  margin-top: 60px;
  margin-bottom: 50px;
}
.main-container {
  display: flex;
}
.form-container {
  width: 465px;
}

.form-container h3 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #333333;
  transform: rotate(-0.02deg);
  margin-bottom: 15px;
}
.form-container h3.second {
  margin-top: 50px;
}
.form-group label,
.form-flex label {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: #4f4f4f;
  transform: rotate(-0.02deg);
}
input[type="email"],
input[type="phone"],
input[type="text"],
select {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #333;
  width: 461px;
  height: 56px;
  border: 1px solid #828282;
  background-color: #fff;
  border-radius: 12px;
  padding-left: 45px;
}
input[type="email"] {
  background: url("/img/email.svg") no-repeat 17px 18px;
}
input[type="phone"] {
  background: url("/img/call.svg") no-repeat 17px 18px;
}
#name {
  background: url("/img/account.svg") no-repeat 17px 18px;
}
#address {
  background: url("/img/home.svg") no-repeat 15px 18px;
}
#city {
  background: url("/img/location.svg") no-repeat 15px 18px;
}
#country {
  background: url("/img/globe.svg") no-repeat 15px 17px,
    url("/img/expand_circle_down_FILL1_wght300_GRAD0_opsz24.svg") no-repeat
      185px 15px;
}
#postal {
  background: url("/img/mailbox.svg") no-repeat 15px 18px;
}
.form-flex {
  display: flex;
  gap: 30px;
}
.form-flex label {
  display: inline-block;
}
.form-group p,
.form-flex p {
  margin-bottom: 7px;
  margin-top: 15px;
}
.form-flex input,
.form-flex select {
  width: 217px;
  height: 56px;
}
input[type="checkbox"] {
  width: 21px;
  height: 21px;
}
label {
  display: flex;
  align-items: center;
  gap: 10px;
}
.button-form {
  text-align: right;
}
button {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  width: 166px;
  height: 54px;
  background: #f2994a;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}
select {
  -webkit-appearance: none;
  appearance: none;
}

.cart-container {
  display: flex;
  flex-direction: column;
  width: 383px;
  height: 535px;
  margin-left: 112px;
  background-color: #f2f2f2;
  border-radius: 12px;
  gap: 30px;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
}

.cart-container img {
  border-radius: 12px;
  width: 135px;
}
.option {
  display: flex;
}
.option-text {
  padding-left: 19px;
}
.option-text .item {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #4e5150;
}
.option-text .price {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #f2994a;
  padding-top: 6px;
}

.option-text .price span {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  text-decoration-line: line-through;
  color: #4e5150;
  padding-left: 5px;
}

.wrapper {
  font-family: "Montserrat";
  width: 134.25px;
  height: 52px;
  background-color: #f2f2f2;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #828282;
  margin-top: 40px;
}
.wrapper span.minus,
.wrapper span.plus {
  text-align: center;
  width: 100%;
  padding: 0 5px;
  margin: 30px;
  background: #e0e0e0;
  color: #828282;
  font-weight: bold;
  border-radius: 4px;
  font-size: 20px;
  cursor: pointer;
}

.wrapper span.minus2,
.wrapper span.plus2 {
  text-align: center;
  width: 100%;
  padding: 0 5px;
  margin: 30px;
  background: #e0e0e0;
  color: #828282;
  font-weight: bold;
  border-radius: 4px;
  font-size: 20px;
  cursor: pointer;
}

.shipping {
  margin-top: 70px;
}
.total {
  margin-top: -20px;
}
.shipping,
.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #bdbdbd;
  padding-top: 10px;
}

.shipping h4,
.total h4 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;

  /* Gray 1 */

  color: #333333;
}
.shipping span,
.total span {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-align: right;

  /* Gray 1 */

  color: #333333;
}

/* MEDIA QUERY */
@media (max-width: 756px) {
  .container {
    width: 375px;
    margin: auto;
  }
  .container-2 {
    margin: 0 12px;
  }
  .main-container {
    flex-direction: column-reverse;
  }
  .container-2 h1 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #4e5150;
    transform: rotate(-0.02deg);
    margin-top: 32px;
    margin-bottom: 20px;
  }
  .cart-container {
    width: 350px;
    height: 489px;
    margin-left: 0px;
    margin-bottom: 35px;
  }
  .cart-container img {
    width: 122.75px;
  }
  .option-text .item {
    font-size: 12px;
    line-height: 15px;
  }
  .option-text .price {
    font-size: 14px;
    line-height: 23px;
  }
  .option-text .price span {
    font-size: 10px;
    line-height: 12px;
  }
  .shipping {
    margin-top: 30px;
  }
  .shipping h4,
  .total h4 {
    font-size: 14px;
    line-height: 17px;
  }
  /* FORM CONTAINER */
  .form-container {
    width: 375px;
  }
  .form-container h3 {
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 11px;
  }

  .form-group p,
  .form-flex p {
    margin-top: 11px;
    margin-bottom: 5px;
  }

  .form-group label,
  .form-flex label {
    font-size: 10px;
    line-height: 12px;
  }
  .form-container h3.second {
    margin-top: 40px;
  }
  input[type="email"],
  input[type="phone"],
  input[type="text"],
  select {
    width: 350px;
    height: 40px;
    font-size: 12px;
    line-height: 15px;
    padding-left: 39px;
  }
  input[type="email"],
  input[type="phone"],
  input[type="text"],
  select,
  #name,
  #address,
  #city,
  #postal {
    background-position: 12px 11px;
  }
  #country {
    background: url(/img/globe.svg) no-repeat 12px 11px,
      url(/img/expand_circle_down_FILL1_wght300_GRAD0_opsz24.svg) no-repeat
        140px 8px;
  }
  .form-flex {
    gap: 25px;
  }

  .form-flex input,
  .form-flex select {
    width: 162.98px;
    height: 40.56px;
  }
  .button-form {
    padding-right: 20px;
  }
}
